.oneWayPrice {
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: #3bafda;
}

.tile:hover.notional {
  color: white;
}

.oneWayPrice:hover {
  background: none;
  background-color: #3bafda;
}

.oneWayPrice.buy:hover {
  color: #fdf6e3;
  border: none;
}

.oneWayPrice.sell:hover {
  color: #fdf6e3;
  border: none;
}

.oneWayPrice.nonTradeable,
.oneWayPrice.nonTradeable > span > span.bigFigures {
  color: #aaa;
}

@keyframes colormein {
  /* You could think of as "step 1" */
  0% {
    background-color: #00b19d;
    opacity: 1;
  }
  50% {
    background-color: #00b19d;
    opacity: 0.75;
  }

  /* You could think of as "step 2" */
  100% {
    background-color: #00b19d;
    opacity: 1;
  }
}

.oneWayPrice.nonTradeable:hover {
  color: #aaa;
  background-color: #888;
  cursor: wait;
}

.oneWayPrice:hover div {
  color: white;
}

.oneWayPrice:hover span {
  color: white;
}

.oneWayPrice.executing {
  animation: colormein 1s linear infinite;
  color: white;
}

.oneWayPrice.executing:hover {
  color: white;
  cursor: wait;
}
