$gray: #98a6ad;
$gray-dark: #323b44;
$gray-darker: #3d4853;
$primary: #3bafda;
$danger: #ef5350;
$success: #00b19d;
$info: #3ddcf7;
$warning: #ffaa00;
$purple: #7266ba;
$pink: #f76397;
$white: #ffffff;
